@import "../../../../../node_modules/bootstrap/dist/css/bootstrap.css";

mat-nav-list.list-horizontal {
  width: 71.5%;
  display: flex;
  flex-direction: row;
}

mat-nav-list.list-horizontal-header {
  width: 70%;
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

a {
  text-decoration: none;
}

button {
  padding : 1%;
  margin-top: 5%;
}

mat-accordion {
  width: 100%;
  height: 100%;
}

form {
  font-size: smaller;
}

