@import "../../../../../node_modules/bootstrap/dist/css/bootstrap.css";

mat-nav-list.list-horizontal {
  width: 90%;
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
}

mat-nav-list.list-horizontal-header {
  width: 90%;
  display: flex;
  flex-direction: row;
  font-weight: bold;
}


