<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >

<div *ngIf="isAuthenticated && isAdmin">
  <h1>Lista delle tapparelle dell'edificio n.{{buildingId}} </h1>
  <br><br>
  <mat-list dense>
    <mat-list-item>
      <mat-nav-list class="list-horizontal-header">
        <a mat-list-item >ID</a>
        <a mat-list-item >NAME</a>
        <a mat-list-item >ROOM</a>
        <a mat-list-item class="delete"></a>
        <a mat-list-item > </a>
      </mat-nav-list>
    </mat-list-item>
    <mat-list-item *ngFor="let shutter of shutters$">
      <mat-nav-list class="list-horizontal">
        <a mat-list-item >{{shutter.id}}</a>
        <a mat-list-item >{{shutter.name}}</a>
        <a mat-list-item >{{shutter.room}}</a>
        <a mat-list-item class="delete" (click)="onDeleteShutterClick(shutter.id, buildingId)"><i class="material-icons">delete</i></a>
        <a mat-list-item (click)="openUpdate(content, shutter.id, shutter.name, shutter.room)"><i class="material-icons">auto_fix_high</i></a>
      </mat-nav-list>
    </mat-list-item>
  </mat-list>

  <a (click)="open(contentN)">
    <!--    routerLinkActive="active-link"-->
    <!--    routerLink="/signup"-->

    <button
      color="accent"
      mat-raised-button
    >
      <span>+ Aggiungi tapparella </span>
    </button>
  </a>

</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Shutter</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="updateShutterForm" (ngSubmit)="updateShutter()">
      <div class="form-group">
        <label>Name</label>
        <div class="input-group">
          <input id="name" class="form-control" formControlName="name" >
        </div>
        <br>
        <label>Room</label>
        <div class="input-group">
          <input id="room" class="form-control" formControlName="room">
        </div>
        <br>
      </div>
      <div class="modal-footer">
        <button type="submit"
                [disabled]="!updateShutterForm.valid"
                class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
      </div>
    </form>
  </div>

</ng-template>

<ng-template #contentN let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Update Shutter</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addShutterForm" (ngSubmit)="addShutter(buildingId)">
      <div class="form-group">
        <label>Name</label>
        <div class="input-group">
          <input class="form-control" formControlName="name" >
        </div>
        <br>
        <label>Room</label>
        <div class="input-group">
          <input class="form-control" formControlName="room">
        </div>
        <br>
      </div>
      <div class="modal-footer">
        <button type="submit"
                [disabled]="!addShutterForm.valid"
                class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
      </div>
    </form>
  </div>

</ng-template>
