<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<div *ngIf="isAuthenticated && isAdmin">
  <h1>Bentornato Admin </h1>
  <br><br><br>

  <h3>Lista degli utenti </h3>

  <mat-list dense>
    <mat-list-item>
      <mat-nav-list class="list-horizontal-header">
        <a mat-list-item >ID</a>
        <a mat-list-item >NAME</a>
        <a mat-list-item >EMAIL</a>
        <a mat-list-item ></a>
      </mat-nav-list>
    </mat-list-item>
    <mat-list-item *ngFor="let user of users$">
      <mat-nav-list class="list-horizontal">
        <a mat-list-item >{{user.id}}</a>
        <a mat-list-item >{{user.name}}</a>
        <a mat-list-item >{{user.email}}</a>
        <a mat-list-item (click)="onDeleteUserClick(user.id)"><i class="material-icons">delete</i></a>

      </mat-nav-list>
    </mat-list-item>
  </mat-list>


  <a
    routerLinkActive="active-link"
    routerLink="/signup"
  >
    <button
      color="accent"
      mat-raised-button
    >
      <span>Aggiungi utente </span>
    </button>
  </a>

</div>


